input[type=text]{

    width: 400px;
    height: 50px;
    font-size: 22px;
    outline: none;

    
}

input::placeholder{

    font-family: 'Times New Roman', Times, serif;
    color: rgb(165, 161, 161);
    
}



table{

    margin: 40px;
    border: 1px solid slategrey;
    width: 250px;
    height: 250px;    
}

thead{

    text-align: center;
    background-color: rgb(206, 208, 211);
}

tbody tr:nth-child(odd){
   
    background-color: springgreen;
    color: black;
}

tbody tr:nth-child(odd):hover{

    background-color: rgba(0, 255, 127, 0.4) ;
    
}

tbody tr:nth-child(even):hover{

    background-color: rgb(240, 234, 234);
   
 
}

a[href*="medicenter"]{

    text-decoration: none;
}

button{


    width: 250px;
    height: 80px;
    background-color: rgb(52, 52, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: auto;
    font-size: 30px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 5px;

    
}

button:hover{

    background-color: rgba(52, 52, 245, 0.9);
    
}